{% extends 'jobs/base.html' %} {% load static %} {% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static "jobs/coffee-meeting.jpg" %}" alt="Image" style="width: 100%; height: 300px;">

      <div class="carousel-caption">
        <h3>Check it out</h3>
        <p>Work, work</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static "jobs/office.jpeg" %}" alt="Image" style="width: 100%; height: 300px;">
      <div class="carousel-caption">
        <h3>Job Most wanted</h3>
        <p>On The Top</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Quick finder</p>
        <form class="form-horizontal" action="/action_page.php">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Text</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="text" name="text">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Date</label>
            <div class="col-sm-10">
              <input type="Date" class="form-control" id="pwd" placeholder="Enter Date" name="pwd">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember">Article</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember">Jobs</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-8 text-left">

      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home">View</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu1">Create</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu1">Edit</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu2">Delet</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu3">Date</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu3">Out of issue</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu3">Contact</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

          <h1>Programmer</h1>
          <p>To show the quote on the right use the class .blockquote-reverse:</p>
          <blockquote class="blockquote-reverse">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <footer>Google.com</footer>
          </blockquote>

        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>

    </div>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Articles</p>
      </div>
      <div class="well">
        <p>Jobs</p>
      </div>
      <div class="well">
        <p>Links</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}